# EXACT --------------------------------------------------------------------------------------------
lib

# BY MASK ------------------------------------------------------------------------------------------
node_modules
.idea
.DS_Store
